@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont/iconfont.eot?t=1492242939353'); /* IE9*/
  src: url('font/iconfont/iconfont.eot?t=1492242939353#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont/iconfont.woff?t=1492242939353') format('woff'), /* chrome, firefox */
  url('font/iconfont/iconfont.ttf?t=1492242939353') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont/iconfont.svg?t=1492242939353#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before { content: "\e62f"; }
.icon-richeng:before { content: "\e641"; }
.icon-guanbi:before { content: "\e617"; }

.icon-xiangzuojiantou:before { content: "\e660"; }
.icon-xiangyoujiantou:before { content: "\e65f"; }


body {
  margin: 0px;
  padding: 0px;
  /*background: url(assets/bg1.jpg) center !important;
  background-size: cover;*/
  background: #ffffff;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
body, button, input, select, textarea {
  font: 400 1em/1.5 PingFang SC,/*Lantinghei SC,Helvetica Neue,*/Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}
ul,li,dl,dt,dd{ margin:0; padding:0; list-style:none;}
em,i{ font-style:normal; margin:0; padding:0;}
h1,h2,h3,h4,h5,p{ margin:0; padding:0;}
a{ cursor: pointer;}


.full-jcalendar{
  position: relative;
  display: inline-block;
}
.full-jcalendar__input{
  position: relative;
  height:24px;
  line-height:24px;
  padding:5px 10px;
  text-align: left;
  border:1px solid #E0D7D2;
  border-radius: 5px;
  font-size: 14px;
  color:#333;
  background-color: #fff;
  overflow: hidden;
}

.full-jcalendar__input.is-hover{ border-color:#C19264;}
.full-jcalendar__input .input-text{
}
.full-jcalendar__input .input-icon{
  position: absolute;
  z-index: 111;
  right:5px;
  top:6px;
  color: #e8a400;
  line-height: 22px;
}
.full-jcalendar__input .input-icon .iconfont{
  font-size: 18px;
}
.full-jcalendar__input .input-icon .iconfont.is-clear{
  color:#999;
  font-weight: bolder;
}
.full-jcalendar__input .icon-tip{
  position: absolute;
  z-index: 1111;
  right:28px;
  top:5px;
}
.full-jcalendar__input .icon-tip i{
  display: inline-block;
  margin:0;
  padding:0;
  width:16px;
  height:16px;
  background-color: #ff5a00;
  border-radius: 8px;
  font-size: 12px;
  color:#fff;
  line-height: 16px;
  text-align: center;
}
.full-jcalendar__main{
  cursor: pointer;
  position: absolute;
  z-index: 1675;
  left:5px;
  top:38px;
  width:296px;
  background-color: #ffffff;
  border-radius: 5px;
  -moz-box-shadow:2px 2px 5px #C9C9C9;
  -webkit-box-shadow:2px 2px 5px #C9C9C9;
  box-shadow:2px 2px 5px #C9C9C9;
  overflow: hidden;
}
.full-jcalendar__main.is-daterange{
  width:593px;
}
.full-jcalendar__main .date-range__month{
  float: left;
  width:296px;
  overflow: hidden;
}
.full-jcalendar__main .date-range__month.leftMonth{
  border-right:1px solid #F8F8F8;
}
.full-jcalendar-header{
  position: relative;
  width:100%;
  padding:5px 0;
  height:24px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color:#333;
}
.full-jcalendar-header span{ display: inline-block;}
.full-jcalendar-header .title-year:hover,.full-jcalendar-header .title-month:hover{
  color:#50bfff;
}
.date-range__month .full-jcalendar-header .title-year:hover,.date-range__month .full-jcalendar-header .title-month:hover{
  color:#333;
}
.full-jcalendar-header .prev-month,.full-jcalendar-header .next-month {
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  color: #E1CEB7;
  font-size: 20px;
}
.full-jcalendar-header p.prev-month{
  position: absolute;
  z-index: 1676;
  left:5px;
  top:5px;
}
.full-jcalendar-header p.next-month {
  position: absolute;
  z-index: 1676;
  right: 5px;
  top: 5px;
}

.date-range__month .full-jcalendar-header .prev-year{
  position: absolute;
  z-index: 1676;
  left: 5px;
  top: 5px;
}

.date-range__month .full-jcalendar-header .prev-month{
  left:35px;
}
.date-range__month .full-jcalendar-header .next-year{
  position: absolute;
  z-index: 1676;
  right: 5px;
  top: 5px;
}
.date-range__month .full-jcalendar-header .next-month{
  right:35px;
}

.full-jcalendar__body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 280px;
  position: relative;
}
.full-jcalendar__body ul,.full-jcalendar__body p {
  margin: 0;
  padding: 0;
}
.full-jcalendar__body .weeks {
  width: 100%;
  height: 30px;
  display: flex;
  border-top: 1px solid #F8F8F8;
}
.full-jcalendar__body .weeks .week {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #8391A5;
  line-height: 30px;
  border: none;
}
.full-jcalendar__body .weeks .week strong {
  font-weight: normal;
}
.full-jcalendar__body .week-row {
  display: flex;
  width:100%;
}
.full-jcalendar__body .week-row .day-cell {
  position: relative;
  flex: 1;
  padding: 2px;
  border: 1px solid #F8F8F8;
  margin-right: -1px;
  margin-bottom: -1px;
  text-align: center;
}
.full-jcalendar__body .day-cell .day-number .lunar {
  font-size: 12px;
  color: #ACACAC;
}
.full-jcalendar__body .day-cell .day-number .solar {
  font-size: 12px;
  color: #483a32;
  /*text-shadow: 1px 1px 1px #ddd;*/
}
/*.full-jcalendar__body .day-cell.not-cur-month .solar {*/
  /*text-shadow: none;*/
/*}*/
.full-jcalendar__body .day-cell .day-number .solar .is-leap {
  display: inline-block;
  width:14px;
  height:14px;
  border-radius: 7px;
  background-color: #f00;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 14px;
}
.full-jcalendar__body .day-cell .day-number .term {
  font－size:12px;
  color: #FFC200;
}
.full-jcalendar__body .day-cell .day-number .festival {
  font－size:12px;
  color: #ff8610;
}
.full-jcalendar__body .day-cell .day-number .is-today {
  font-size: 12px;
  color: #20a0ff;
}
.full-jcalendar__body .day-cell .day-number .is-empty {
  line-height: 34px;
}
.full-jcalendar__body .day-cell.today {
  background-color: #FBF9F6;
}
.full-jcalendar__body .day-cell.today:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: .5em solid #20a0ff;
  border-left: .5em solid transparent;
}
.full-jcalendar__body .day-cell.choose {
  background-color: #d2ecff;
}
.full-jcalendar__body .day-cell.select {
  background-color: #009bfe;
}
.full-jcalendar__body .day-cell.select .lunar,
.full-jcalendar__body .day-cell.select .solar,
.full-jcalendar__body .day-cell.select .term ,
.full-jcalendar__body .day-cell.select .festival ,
.full-jcalendar__body .day-cell.select .is-today{
  color: #fff;
}
.full-jcalendar__body .day-cell.select .solar .is-leap {
  background: none;
}
.full-jcalendar__body .day-cell.not-cur-month .lunar
,.full-jcalendar__body .day-cell.not-cur-month .solar
,.full-jcalendar__body .day-cell.not-cur-month .term
,.full-jcalendar__body .day-cell.not-cur-month .festival{
  color: #ddd;
}
.full-jcalendar__body .day-cell:hover {
  background-color: #ECF1F4;
}
.full-jcalendar__body .day-cell.choose:hover {
  background-color: #009bfe;
}
.full-jcalendar__body .day-cell.choose:hover .lunar,
.full-jcalendar__body .day-cell.choose:hover .solar,
.full-jcalendar__body .day-cell.choose:hover .term ,
.full-jcalendar__body .day-cell.choose:hover .festival ,
.full-jcalendar__body .day-cell.choose:hover .is-today{
  color: #fff;
}
.full-jcalendar__body .select:hover{
  background-color: #009bfe;
}
.full-jcalendar__month,.full-jcalendar__year{
  position: absolute;
  z-index: 1677;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #fff;
}
.full-jcalendar__body .close{
  position: absolute;
  bottom:10px;
  right:10px;
  padding:3px 5px;
  font-size:12px;
  background-color: #FBF8FF;
  border:1px solid #F8F8F8;
  border-radius: 3px;
}
.full-jcalendar__body .data-list{
  list-style: none;
  margin:auto;
  padding:20px 0 0 0;
  width:85%;
}
.full-jcalendar__body .data-list li{
  position: relative;
  list-style: none;
  line-height: normal;
  float: left;
  width:25%;
  text-align: center;
  padding:5px 0;
  margin:10px 0;
  font-size:14px;
  color:#333;
}
.full-jcalendar__body .data-list li:hover ,.full-jcalendar__body .data-list li.select-year {
  background-color: #50bfff;
  color: #fff;
}
.full-jcalendar__body .data-list li.curr-year:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: .5em solid #20a0ff;
  border-left: .5em solid transparent;
}
.full-jcalendar__body .clearfix{
  float: none;
  width:100%;
  clear: both;
  height:0px;
  line-height: 0px;
}
